@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input {
    @apply px-3 py-2 border border-gray-300 rounded-md;
  }
}

@layer components {
  .nav-item {
    @apply flex items-center space-x-2 px-4 py-2.5 rounded-lg transition-colors;
  }

  .nav-item-active {
    @apply bg-gradient-to-r from-gradient-start to-gradient-end text-white;
  }

  .nav-item-inactive {
    @apply text-gray-700 dark:text-gray-200 hover:bg-primary-50 dark:hover:bg-primary-900/20;
  }

  @keyframes gradientMove {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}